################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Project1/x64/Debug/Полезные функции.obj
/Project1/x64/Debug/vc143.pdb
/Project1/x64/Debug/vc143.idb
/Project1/x64/Debug/Project1.vcxproj.FileListAbsolute.txt
/Project1/x64/Debug/Project1.tlog/Project1.lastbuildstate
/Project1/x64/Debug/Project1.tlog/link.write.1.tlog
/Project1/x64/Debug/Project1.tlog/link.read.1.tlog
/Project1/x64/Debug/Project1.tlog/link.command.1.tlog
/Project1/x64/Debug/Project1.tlog/CL.write.1.tlog
/Project1/x64/Debug/Project1.tlog/CL.read.1.tlog
/Project1/x64/Debug/Project1.tlog/CL.command.1.tlog
/Project1/x64/Debug/Project1.pdb
/Project1/x64/Debug/Project1.log
/Project1/x64/Debug/Project1.ilk
/Project1/x64/Debug/Project1.exe.recipe
/Project1/x64/Debug/Project1.exe
/Project1/x64/Debug/main.obj
/Project1/x64/Debug/9.9.obj
/Project1/x64/Debug/9.2.obj
/Project1/x64/Debug/8.11.obj
/Project1/x64/Debug/8.10.obj
/Project1/x64/Debug/7.8.obj
/Project1/x64/Debug/7.3.obj
/Project1/x64/Debug/6.func.obj
/Project1/x64/Debug/6.7.obj
/Project1/x64/Debug/6.2.obj
/Project1/x64/Debug/6.15.obj
/Project1/x64/Debug/5.4.obj
/Project1/x64/Debug/5.2.obj
/Project1/x64/Debug/4.main.obj
/Project1/x64/Debug/4.int5.obj
/Project1/x64/Debug/4.int4.obj
/Project1/x64/Debug/4.int3.obj
/Project1/x64/Debug/4.int2.obj
/Project1/x64/Debug/4.int1.obj
/Project1/x64/Debug/4.func.obj
/Project1/Project1.vcxproj.user
/Project1/Project1.vcxproj.filters
/Project1/Project1.vcxproj
/Project1/Project1.sln
/Project1/.vs/Project1/v17/ipch/AutoPCH/f9210ff791876e78/8.10.ipch
/Project1/.vs/Project1/v17/ipch/AutoPCH/f53fd557e24deb59/9.9.ipch
/Project1/.vs/Project1/v17/ipch/AutoPCH/d26d72f0eade7f8f/8.11.ipch
/Project1/.vs/Project1/v17/ipch/AutoPCH/c74f58c3342055f7/4.FUNC.ipch
/Project1/.vs/Project1/v17/ipch/AutoPCH/c4938b519a2751e4/9.2.ipch
/Project1/.vs/Project1/v17/ipch/AutoPCH/b3a6f4bfaca05dde/6.7.ipch
/Project1/.vs/Project1/v17/ipch/AutoPCH/ad10150899ba4cb2/5.4.ipch
/Project1/.vs/Project1/v17/ipch/AutoPCH/a228a11f286fc68a/MAIN.ipch
/Project1/.vs/Project1/v17/ipch/AutoPCH/89f3fdb00be6871c/4.INT2.ipch
/Project1/.vs/Project1/v17/ipch/AutoPCH/7a8a4a7829794eb6/4.INT4.ipch
/Project1/.vs/Project1/v17/ipch/AutoPCH/79a6a9d5cf9eb02/ПОЛЕЗНЫЕ ФУНКЦИИ.ipch
/Project1/.vs/Project1/v17/ipch/AutoPCH/6c2d10bd2e7af007/VCTMP13208_326364.TASKS.00000000.ipch
/Project1/.vs/Project1/v17/ipch/AutoPCH/4eb754225da942c1/6.FUNC.ipch
/Project1/.vs/Project1/v17/Browse.VC.opendb
/Project1/.vs/Project1/v17/Browse.VC.db-wal
/Project1/.vs/Project1/v17/Browse.VC.db-shm
/Project1/.vs/Project1/v17/Browse.VC.db
/Project1/.vs/Project1/v17/.suo
/Project1/.vs/Project1/FileContentIndex/read.lock
/Project1/.vs/Project1/FileContentIndex/ee3161f5-f4c3-4a65-b466-e02117c83b0a.vsidx
/Project1/.vs/Project1/FileContentIndex/a2f6d61d-174d-4c0e-8c5c-b911b81eed20.vsidx
/Project1/.vs/Project1/FileContentIndex/7ead0528-7a12-49c6-8e2b-f100d08fb218.vsidx
/Project1/.vs/Project1/FileContentIndex/0097d8b4-fead-4bbe-985a-cfa87cc5e4c9.vsidx
/.vs/VSWorkspaceState.json
/.vs/Project1/v17/Browse.VC.db
/.vs/Project1/v17/.suo
/.vs/Project1/FileContentIndex/read.lock
/.vs/Project1/FileContentIndex/3e9baa4b-d198-4ee0-9809-a0663cb61cfb.vsidx
/.vs/phys_C/v17/.suo
