################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Антонюк/Антонюк.vcxproj
/Антонюк/Антонюк.vcxproj.filters
/Антонюк/Антонюк.vcxproj.user
